html {
	font-size: 16px;
}
h1, h2, h1>span, h2>span {
	font-family: "StatusBoardFontLight";
	font-size: 2.5rem;
}
li, dt, dd {
	font-family: "StatusBoardFont";
	font-size: 1.5rem;
}
.dateline {
	font-size: 1rem;
	margin-top:-20px;
}
.chores, .sb-red {
	color: rgb(255,48,0);
}
.sb-yellow {
	color: rgb(255,198,0);
}
.sb-green, .fun {
	color: rgb(0,186,0);
}
.sb-purple {
	color: rgb(155,0,194);
}
.sb-blue {
	color: rgb(0,108,230);
}
.sb-dark-grey, .sb-dark-gray {
	color: rgb(100,112,118);
}
.sb-pink {
	color: rgb(252,88,181);
}
.sb-teal {
	color: rgb(0,159,153);
}
.sb-orange, h1, h2, h1>span, h2>span {
	color: rgb(252,107,0);
}
.sb-light-grey, .sb-light-gray {
	color: rgb(174,183,188);
}
.sb-assignments {
	font-size: 1.75rem;
}
dt {
	float: left;
	clear: left;
	width: 5em;
}
dd {
	margin: 0 0 0 6em;
	padding: 0 0 1em 0;
}
body {
	background-color: black;
}

